@media (max-width: 500px) {
  .card {
    padding: 0.6rem !important;
  }
  .card-image-container {
    margin-bottom: 0 !important;
  }
  .card-title {
    margin-bottom: 0.6rem !important;
  }
  .card-text {
    margin-bottom: 0.6rem !important;
  }
}

.card-image-container {
  height: 9rem;
  margin-bottom: 1rem;
}

@media (max-width: 500px) {
  .card-image-container {
    height: 6rem;
  }
}

.card-image-container img {
  height: 100%;
  width: 100%;
}

.text-06 {
  opacity: 0.6;
}

.into-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
